* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333;
  --link-color: #2563eb;
  --background-color: #fff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

body {
  height: 100vh;
  padding: 1rem;
  background-color: var(--background-color);
  align-items: center;
}

.header-content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logo-section span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.logo-section i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.nav-section {
  display: none;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 676px) {
  .nav-section {
    display: flex;
  }
}

.nav-section a {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray);
  transition: all 0.1s;
}

.nav-section a:hover {
  color: var(--dark-gray);
}

.contact-button {
  height: 2rem;
  width: 7rem;
  display: none;
  padding-top: 0.6rem;
  padding-left: 2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
  transition: all 0.1s;
}

@media screen and (min-width: 676px) {
  .contact-button {
    display: block;
  }
}

.contact-button:hover {
  background-color: var(--accent-color);
}

.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: var(--background-color);
  display: none;
}

.hamburger i {
  font-size: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 675.9px) {
  .hamburger {
    display: block;
  }
}
