* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

::selection {
  background-color: #e6d5f7; /* Light violet-orchid mixture */
  color: inherit; /* Text color */
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333;
  --link-color: #2563eb;
  --background-color: #fff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

body {
  height: 100vh;
  padding: 1rem;
  background-color: var(--background-color);
  align-items: center;
}

.header-content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logo-section span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.logo-section i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.nav-section {
  display: none;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 676px) {
  .nav-section {
    display: flex;
  }
}

.nav-section a {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray);
  transition: all 0.1s;
}

.nav-section a:hover {
  color: var(--dark-gray);
}

.contact-button {
  height: 2rem;
  width: 7rem;
  display: none;
  padding-top: 0.6rem;
  padding-left: 2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
  transition: all 0.1s;
}

@media screen and (min-width: 676px) {
  .contact-button {
    display: block;
  }
}

.contact-button:hover {
  background-color: var(--accent-color);
}

.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: var(--background-color);
  display: none;
}

.hamburger i {
  font-size: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 675.9px) {
  .hamburger {
    display: block;
  }
}

.main-section {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  /* justify-content: center; */
}

.left-content {
  text-align: center;
  /* animation: leftToRight 1s ease forwards; */
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.content-label {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
}

.content-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--text-color);
}

.content-description {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 500;
}

.button-group {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button-group a {
  text-decoration: none;
  border: none;
  padding: 0.4rem 0.65rem 0.4rem 0.65rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 0.1s;
}

.start-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  transition: all 0.1s;
}

.start-button:hover {
  background-color: var(--link-color);
}

.tour-button {
  background-color: var(--text-color);
  color: var(--background-color);
}

.img-container img {
  height: 25rem;
  border-radius: 2rem;
  width: 25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 676px) {
  .main-section {
    flex-direction: row;
    margin-top: 4rem;
  }

  .left-content {
    text-align: left;
  }

  .button-group {
    padding-left: 0;
  }

  .content-title {
    font-size: 3.4rem;
  }
}

.company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.company-section h2 {
  /* animation: leftToRight 1s ease forwards; */
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
}

.company-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: var(--dark-gray);
}

.company-box i {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

.company-box .company-name {
  font-size: 1rem;
}

@media screen and (min-width: 676px) {
  .company-grid {
    display: flex;
    flex-direction: row;
  }
}

.main-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  margin-top: 1rem;
}

.card-section-inner {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
}

.card-section-inner h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  /* animation: leftToRight 1s ease forwards; */
}

.card-section-inner .main-card-para {
  font-size: 1rem;
  color: var(--gray);
  text-align: center;
  font-weight: 400;
  /* animation: leftToRight 1s ease forwards; */
}

.all-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.card-container {
  height: 13rem;
  width: 20rem;
  margin: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.85rem;
  gap: 1rem;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  transition: 0.5s all ease;
}

.card-container:hover {
  transform: scale(0.95);
}

.card-container i {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.card-container .card-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--background-color);
}

.card-container .card-description {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background-color);
  text-align: center;
}

.card-2 i {
  color: #e3735e;
}

.card-2 {
  background-color: #e3735e;
}

.card-3 i {
  color: #ffb74d;
}

.card-3 {
  background-color: #ffb74d;
}

.card-4 {
  background-color: #007b80;
}

.card-4 i {
  color: #007b80;
}

.card-5 {
  background-color: green;
}

.card-5 i {
  color: green;
}

.card-6 {
  background-color: purple;
}

.card-6 i {
  color: purple;
}

@media screen and (max-width: 676px) {
  .all-cards-container {
    display: flex;
    flex-direction: column;
  }
}

.main-testimonials {
  margin-top: 2rem;
}

.testimonials-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  /* animation: leftToRight 1s ease forwards; */
}

.testimonials-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.testimonials-boxes .box {
  height: 10rem;
  width: 17rem;
  border: 3px solid var(--light-gray);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease;
}

.testimonials-boxes .box:hover {
  transform: scale(0.95);
}

.testimonials-feedback {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--dark-gray);
  text-align: center;
}

.testimonials-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  /* border: 2px solid black; */
  align-items: center;
  text-align: center;
  line-height: 7;
}

.testimonials-image i {
  font-size: 3rem;
}

.testimonials-name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-name-profession h5 {
  color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  .testimonials-boxes {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 676px) {
  .testimonials-boxes {
    display: flex;
    flex-direction: column;
  }
}

.left-content,
.company-section h2,
.card-section-inner h2,
.card-section-inner .main-card-para,
.testimonials-name-profession h5,
.testimonials-name-profession h6,
.testimonials-heading {
  transform: translateX(-100%); /* Start off-screen to the left */
  opacity: 0; /* Start transparent */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out; /* Transition properties */
}

.left-content.visible,
.company-section h2.visible,
.card-section-inner h2.visible,
.card-section-inner .main-card-para.visible,
.testimonials-name-profession h5.visible,
.testimonials-name-profession h6.visible,
.testimonials-heading.visible {
  transform: translateX(0); /* Move into view */
  opacity: 1; /* Fade in */
}
