* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

::selection {
  background-color: #e6d5f7; /* Light violet-orchid mixture */
  color: #000; /* Text color */
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333;
  --link-color: #2563eb;
  --background-color: #fff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

body {
  height: 100vh;
  padding: 1rem;
  background-color: var(--background-color);
  align-items: center;
}

.header-content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logo-section span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.logo-section i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.nav-section {
  display: none;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 676px) {
  .nav-section {
    display: flex;
  }
}

.nav-section a {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray);
  transition: all 0.1s;
}

.nav-section a:hover {
  color: var(--dark-gray);
}

.contact-button {
  height: 2rem;
  width: 7rem;
  display: none;
  padding-top: 0.6rem;
  padding-left: 2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
  transition: all 0.1s;
}

@media screen and (min-width: 676px) {
  .contact-button {
    display: block;
  }
}

.contact-button:hover {
  background-color: var(--accent-color);
}

.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: var(--background-color);
  display: none;
}

.hamburger i {
  font-size: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 675.9px) {
  .hamburger {
    display: block;
  }
}

.main-section {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  /* justify-content: center; */
}

.left-content {
  text-align: center;
  animation: leftToRight 1s ease forwards;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.content-label {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
}

.content-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--text-color);
}

.content-description {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 500;
}

.button-group {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button-group a {
  text-decoration: none;
  border: none;
  padding: 0.4rem 0.65rem 0.4rem 0.65rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 0.1s;
}

.start-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  transition: all 0.1s;
}

.start-button:hover {
  background-color: var(--link-color);
}

.tour-button {
  background-color: var(--text-color);
  color: var(--background-color);
}

.img-container img {
  height: 25rem;
  border-radius: 2rem;
  width: 25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 676px) {
  .main-section {
    flex-direction: row;
    margin-top: 4rem;
  }

  .left-content {
    text-align: left;
  }

  .button-group {
    padding-left: 0;
  }

  .content-title {
    font-size: 3.4rem;
  }
}

.company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.company-section h2 {
  animation: leftToRight 1s ease forwards;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
}

.company-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: var(--dark-gray);
}

.company-box i {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

.company-box .company-name {
  font-size: 1rem;
}

@media screen and (min-width: 676px) {
  .company-grid {
    display: flex;
    flex-direction: row;
  }
}

.main-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-section-inner {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
}

.card-section-inner h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

.card-section-inner p {
  font-size: 1rem;
  color: var(--gray);
  text-align: center;
  font-weight: 400;
}

.all-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.card-container {
  height: 13rem;
  width: 20rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.85rem;
  gap: 1rem;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.card-container i {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.card-container .card-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--background-color);
}

.card-container .card-description {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background-color);
}
